@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
}

/* Estilos para o nav */
nav {
    width: 43%;
}

/* Estilos para o menu */
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: fixed;
}

/* Estilos para os itens do menu */
.menu li {
    margin: 0 15px;
}

/* Estilos para os links do menu */
.menu a {
    color: #a6a6a6;
    text-decoration: none;
    padding: 15px;
    display: block;
}

/* Estilos para os links ao passar o mouse */
.menu a:hover {
    background-color: #000000;
    color: #DD6013;
    border-radius: 2px;
    transition: all 0.5s;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100vw;
}
.title{
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    margin-left: 25px ;
    margin-top: 200px;
}
.title h3{
    color: #dbcab6cc;
    font-size: 25px;
    font-weight: 900;
}
.title h1{
    color: #DBCAB6;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
}
.list-services{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vh;
    margin-left: 740px;
    padding-top: 50px;
    font-family: "Inter";
}
img{
    width: 78px;
    height: 78px;
}
.services{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}
.services p{
    width: 300px;
    color: #DBCAB699;
    font-size: 15px;
}
.services h1{
    color: #DBCAB6;
    font-size: 31px;
    font-weight: 900;
}
.info-services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 300px;
    margin-left: 130px;
}
.list-services a{
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    color:#DD6013;
}
svg{
    padding-left: 10px;
    stroke-width: 2px;
}
.line{
    display: flex;
    width: 600px;
    height: 2px;
    margin-bottom: 20px;
    background-color: #e7ddcf4d;
}
/* Telas menores */
@media (min-width: 320px) and (max-width: 481px) {
    html{
        scroll-behavior: smooth;
        scroll-padding-top: 60px;
    }
    nav {
        width: 100%;
        font-size: 13px;
    }
    .menu {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        list-style-type: none;
        background-color: #000000;
    }
    .menu li {
        margin: 5px 0;
    }
    .menu a {
        color: #a6a6a6;
        text-decoration: none;
        padding: 15px;
        display: block;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .title{
        position: static;
        width: 99%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        margin: 90px 0 0 0;
        padding: 32px 13px;
    }
    .title h3{
        color: #dbcab6cc;
        font-size: 15px;
        font-weight: 900;
        padding: 80px 0 0 0;
    }
    .title h1{
        padding: 5px 0;
        color: #DBCAB6;
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 1;
    }
    .list-services{
        display: flex;
        flex-direction: column;
        position: static;
        width: 100%;
        margin: 50px 0 0 0;
        padding: 0;
        font-family: "Inter";
    }
    .list-services a{
        display: flex;
        align-items: center;
        margin-top: 15px;
        width: 100%;
        height: 30px;
        text-decoration: none;
        color:#DD6013;
    }
    img{
        width: 58px;
        height: 58px;
    }
    svg{
        width: 40px;
        height: 40px;
        padding-left: 8px;
        stroke-width: 4px;
    }
    .services{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 13px;
        gap: 50px;
    }
    .services p{
        width: 240px;
        color: #DBCAB699;
        font-size: 15px;
        padding-top: 10px;
    }
    .services h1{
        color: #DBCAB6;
        width: 250px;
        font-size: 31px;
        font-weight: 900;
    }
    .info-services{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        width: 99%;
        height: auto;
        margin: 4px;
    }
    
    .line{
        width: 100%;
        height: 2px;
        margin: 20px 0;
        background-color: #e7ddcf4d;
    }
  }